[2011-03-04 13:41] soenkenils opened #1 "Does not compile due to change of GWT version (2.1 -> 2.2)"
We recently changed the GWT version from 2.1 to 2.2. Currently, this does not work with our existing code because Google changed the SafeHTML API in 2.2.

[2011-03-05 12:45] mlegenhausen opened #2 "Current available gwt-maps api is not compatible with GWT 2.2.0."
See the following issue in the gwt-google-api bug tracker: http://code.google.com/p/gwt-google-apis/issues/detail?id=447&can=1&q=gwt-maps%20gwt%202.2&colspec=ID%20Type%20API%20Status%20Priority%20Milestone%20Owner%20Summary

There is currently a work around by using a GWT 2.2.0 compiled library that is located under client/src/main/webapp/WEB-INF/lib/gwt-maps.jar.

Remove this library when the lib

[2011-03-05 12:47] mlegenhausen commented on #1
WiseUi is now ported to GWT 2.2.0, but keep a look at issue 2.

[2011-03-05 12:47] #1 closed, assigned to nobody

[2011-03-05 13:01] mlegenhausen opened #3 "Rework of the TestbedSelection Part to show more WiseML Details."
The table representation is not apropriate for the sensor data. So it will be removed by a tree representation with a panel for details.
Beside this view there will be a map and raw wiseml xml view.

[2011-03-05 17:55] mlegenhausen opened #4 "Move all Widgets that are used in different parts of the WiseUi in the widget module"
Widgets that can be moved in the widget module:
- DialogBox
- Create a widget for the panels with a title.
- The Utility class for using the dialog class in uiBinder

[2011-03-07 10:01] soenkenils opened #5 "Cannot build project"
With the current HEAD version I get a build error:

[INFO]
[INFO] --- gwt-maven-plugin:2.1.0-1:compile (default) @ client ---
[INFO] auto discovered modules [eu.wisebed.wiseui.WiseUi]
[INFO] Loading inherited module 'com.google.gwt.user.User'
[INFO]    Loading inherited module 'com.google.gwt.user.RemoteService'
[INFO]       [ERROR] Unexpected error while processing XML
[INFO] java.lang.NoClassDef

[2011-03-07 10:08] soenkenils commented on #5
There is a workaround: http://groups.google.com/group/google-web-toolkit/msg/b8552345fe97a4eb

But this generates a build warning: [WARNING] Don't declare gwt-dev as a project dependency. This may introduce complex dependency conflicts

[2011-03-07 11:47] mlegenhausen commented on #5
I tryed this workaround: http://groups.google.com/group/google-web-toolkit/msg/c57f8afdc15968d3

Worked too. What would you prefer?

[2011-03-07 12:33] soenkenils commented on #5
I prefer your workaround. The other one was rather ugly...

[2011-03-07 12:33] #5 closed, assigned to nobody

[2011-03-07 12:34] soenkenils commented on #4
Partly solved. The MessageBox widgets were moved to the "widgets" module.

[2011-03-07 12:35] #2 closed, assigned to nobody

[2011-03-07 14:33] mlegenhausen opened #6 "Add Clientside caching for GWT RPC calls"
In GWT best practice you use the service as your data model. Currently we have several repeating service calls, with the same result. To optimize that we need to cache the data on the client. This will also decrease the server load and speed up the application.

For this I would recomment to use http://code.google.com/p/gwt-dispatch/ cause it allows a generic approach for caching. With the current

[2011-03-07 14:42] mlegenhausen opened #7 "Add a Generic Place for easier serialization of session information"
Look at the current TestbedSelectionPlace implementation and create a abstract place that encapsulates the serialization and deserialization.

[2011-03-07 16:33] soenkenils opened #8 "Add Google Protobuf Support"
The usage of WebService calls shall be complemented by Google Protobuf as they provide better performance.

[2011-03-07 16:39] mlegenhausen commented on #8
Were can be found the API for Protobuf?

[2011-03-08 09:07] soenkenils commented on #8
This could be it: https://github.com/itm/testbed-runtime/tree/master/protobuf-api

[2011-03-08 10:12] soenkenils opened #9 "Cannot build current version"
[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /Users/soenke/Code/wiseui/client/src/main/java/eu/wisebed/wiseui/client/util/QuickHull.java:[204,33] cannot find symbol
symbol  : constructor Coordinate(eu.wisebed.wiseui.shared.wiseml.Coordinate)
location: class eu.wisebed.wiseui.shared.wiseml.Coordinate
[INFO] 1 error
[INFO] -----------------

[2011-03-08 10:27] soenkenils opened #10 "Keep the Google Maps API key in an external configuration file"
When deploying the WiseUI on our production system we need a Google API key. In the former versions we kept the API key in the code. This shall be avoided.

[2011-03-08 11:36] mlegenhausen commented on #9
I can not reproduce this error.
Try to reinstall the shared project alone and try again.

[2011-03-08 11:38] mlegenhausen commented on #10
We could make a ResourceBundle for all configuration parameters.

[2011-03-08 11:51] soenkenils commented on #9
Ok, found it.

[2011-03-08 11:51] #9 closed, assigned to nobody

[2011-03-08 14:58] mlegenhausen commented on #7
Simple KeyValuePlace added. In a next version it can be enhanced with type conversion and default values.

[2011-03-08 14:58] #7 closed, assigned to nobody

[2011-03-08 15:04] mlegenhausen commented on #3
Looks feature complete. The polygon of the testbed shape is currently not drawed correctly, cause I dont know how to convert the node position in an absolute geo position.

I will add a WebGL view for the nodes so it is easier to the see the position between the nodes.

[2011-03-08 16:38] mlegenhausen opened #11 "Add a general overlay loading indicator"
Currently there is no default way to indicate a long running operation. It would be nice to overlay a widget with a loading indicator when data will be loaded for this area.

Something like:

 LoadingIndicator indicator = LoadingIndicator.show(element).setText("Loading Data...");
indicator.hide();

Should be a singleton instance.

[2011-03-09 13:54] mlegenhausen commented on #10
It can now be created a MapConstants.properties file under eu.wisebed.wiseui.client.util.
API Key, Version and Sensor usage can be configured.

[2011-03-09 13:54] #10 closed, assigned to nobody

[2011-03-09 15:06] mlegenhausen opened #12 "Refactor all CSS styles that are spreaded in all the *.ui.xml files"
Currently there is a total chaos in all the ui.xml files, cause we have no central css file for all the styles. Most of the things is copy and pasted.

[2011-03-09 15:09] mlegenhausen opened #13 "Add famfamfam icons to the GUI"
Make the GUI more fancy with the famfamfam icons: http://www.famfamfam.com/lab/icons/silk/

[2011-03-09 16:12] soenkenils commented on #12
+1

[2011-03-09 16:14] soenkenils commented on #13
Do we have an ImageBundle somewhere? Ah, the MessageBox uses one. Ok, this means we have to add a new ImageBundle in the "client" module. Where do we store the images?

[2011-03-09 16:24] mlegenhausen commented on #13
I think it is better to add the ImageBundle to the widget module.

[2011-03-09 17:35] mlegenhausen commented on #3
WebGL View is removed from the priority list. Will be added later, when the web gl api for gwt is better to use.

View is feature complete add new issues when having problems.

[2011-03-09 17:35] #3 closed, assigned to nobody

[2011-03-14 12:12] mlegenhausen opened #14 "Use Node defaults form WiseML"
When no information is available for a node, use the defaults from the WiseML object. Currently not serialized.

[2011-03-14 13:51] mlegenhausen opened #15 "Optimize the representation of the testbed shape"
Currently the representation of the testbed shape is really buggy. Has to be optimized with better mathematic methods ;)

[2011-03-14 13:52] mlegenhausen commented on #4
Everything has been moved to the widgets module.

[2011-03-14 13:52] #4 closed, assigned to nobody

[2011-03-14 14:02] mlegenhausen commented on #6
When using gwt-dispatch the code generation for the Async Interfaces can be removed and the requests to the server can be controlled with the Request Object.

[2011-03-14 19:34] ichatz opened #16 "Select nodes via google maps"
In addition to having a drop-down list or a tree-view with all the nodes, position the nodes on the google maps and allow the user to click + select. Maybe this will require the g2d. But sounds more reasonable, since some times it is the location that is important rather than the hw specs.

[2011-03-14 19:58] mlegenhausen commented on #16
We had this view before, but we decided against this, cause we have testbed where there is only 1 meter between the nodes and the nodes are stacked. So you can nothing see on the map and on bigger testbeds you can only draw a limited amount of nodes. So we decided only to draw the shape of the testbed.

A better idea would be to use webgl to show the nodes in 3d. But the apis are really basic and

[2011-03-14 20:00] mlegenhausen commented on #15
A new algorithm is added, look good, but we dont know if the calculation would work on all testbeds. Further testing is needed.

[2011-03-14 23:29] mlegenhausen opened #17 "Integrate the gwt-plattform framework"
Many features included that we have normally write on our own.
- Code splitting
- Clientside Caching

It is a very active project with a lot of contributors: http://code.google.com/p/gwt-platform/

I think a good time would be when the have integrated the GWT MVP model, which they are currently working on.

[2011-03-14 23:32] mlegenhausen commented on #6
Can be closed. A better approach is to use the gwt-plattform framework, which includes this feature. See Issue 17.

[2011-03-14 23:32] #6 closed, assigned to nobody

[2011-03-15 22:31] mlegenhausen opened #18 "Use the default values from the WiseML object"
Currently the data that is set in the default area of the WiseML object are not used in the GUI.

[2011-03-15 22:32] mlegenhausen commented on #18
Duplicated issue 14.

[2011-03-15 22:32] #18 closed, assigned to nobody

[2011-03-16 14:29] mlegenhausen commented on #14
DefaultsHelper added for post processing of a getNetwork RPC Call.

[2011-03-16 14:29] #14 closed, assigned to nobody

[2011-03-16 14:34] mlegenhausen opened #19 "Keep the state of the other activities in a global place"
Currently when switching the tabs the state of the other tabs is not stored. But the WiseUI has to act like a desktop app where you can switch between the different parts.

A solution would be a WiseUiPlace that contain all other Places. A generic class has to be created that can store other places and stores the current active state.

[2011-03-16 14:36] mlegenhausen commented on #8
It should not be migrated. It should be an alternative rpc method for the webservice, cause not all tesbed webservices support protobuf.

[2011-03-16 14:40] mlegenhausen commented on #11
Should be cancable??? Currently we can not abort RPC calls.

[2011-03-17 12:37] whantana commented on #19
I think you are referring to the obvious bug appearing on the Reservation/Experimentation views. When a user swiches back and forth between those views some panels are getting re-filled with data (such nodes or experiments). This happens because of the repeating execution of the start() method implemented on each activity class.

First thing that comes to mind as a possible solution is the use of

[2011-03-17 13:24] soenkenils commented on #19
Actually, using a composite place and thus establishing a place hierarchy (via delegation) is the only way I can think of at the moment to solve this navigation issue (handling the state of multiple panels in the same window).

Google also recommends this strategy. Please take a look at http://code.google.com/webtoolkit/doc/latest/DevGuideMvpActivitiesAndPlaces.html, section "How to navigate".

[2011-03-17 16:06] mlegenhausen commented on #11
A simple indicator is added. But can be extended with more functionality. Like an cancel button.

The loading indicator is integrated in the CaptionPanel, so it is more easy to use.

Only one loading indicator at the time can be used.

[2011-03-17 16:06] #11 closed, assigned to nobody

[2011-03-18 10:01] iogakos opened #20 "Cookies are not properly set"
By settings 'new Date()' as cookie expiration time, cookies will be immediately expire after being set. This reflects other features' implementaion as long as the client is unaware of its session state. (AuthenticationManager.java:67)

[2011-03-18 13:34] mlegenhausen commented on #20
Problem fixed. AuthenticationManager should now worked as expected. UnitTest added.
Cookie duration set to 1 day.

[2011-03-18 13:34] #20 closed, assigned to nobody

[2011-03-18 16:17] mlegenhausen commented on #16
I will close this issue and it would be better to open new issues with other improvements like a WebGL view.

[2011-03-18 16:17] #16 closed, assigned to nobody

[2011-03-18 16:19] mlegenhausen opened #21 "Create WebGL view for better sensor node visualisation"
For better looking at the physical position of a sensor node in the room, a WebGL view would be an appropriate visualisation.

Currently the WebGL view is really basic and we have to do all the work when we want to have mouse navigation. A GWT wrapper can be found on http://code.google.com/p/gwtgl/

[2011-03-19 18:16] whantana commented on #19
So we need to somehow "encode" an activity's state and place it in the place token ? So even if we switch between places or hit refresh the state of the activity is retrievable through the place token ( the place URL ? ) right ?

[2011-03-19 23:29] mlegenhausen commented on #19
Right, everything you store in the Place can be restored, when the user hits the refresh button. To persist something in the place (add the new Place to the URL) you have to use the PlaceController's goTo method. This initiates to reinitialize the activities with the new place given to the goTo method. This looks like a refresh but only the activites are reloaded, the rest of the app stays in the

[2011-03-21 11:29] soenkenils opened #22 "The loading indicator shall be hidden when an error message appears"
Currently, the loading indicator blocks an error message:

![WiseUI Loading Indicator Problem](http://www.itm.uni-luebeck.de/users/nommensen/wiseui/wiseui_loading_indicator_problem.png)

[2011-03-21 11:44] mlegenhausen commented on #22
Seems that the z-index of the loading indicator is too high or the z-index of the popup to low. I will take a look at this.

[2011-03-21 12:04] mlegenhausen commented on #22
Fixed by setting z-index to auto.

[2011-03-21 12:15] soenkenils commented on #22
Can't you just say something like (see below) ?

`
public void onFailure(Throwable caught) {
   loadingIndicator.hide();
   ...
}
`

[2011-03-21 12:36] mlegenhausen commented on #22
I added both, cause it can be that you want to open a dialog box during the loading indicator is shown.

[2011-03-21 13:27] iogakos opened #23 "UrnPrefix should be a distinct model"
At the moment, according to the design notes, Testbed entity (TestbedConfiguration) holds a collection of strings to map the urn prefixes. Hibernate is getting really dysfunctional when it comes to query collections and this is a known issue http://opensource.atlassian.com/projects/hibernate/browse/HHH-869.

By the time the client, the only unique information per testbed that holds is the urnPrefi

[2011-03-21 21:37] soenkenils opened #24 "Move Persistence Code To A Separate Maven Module"
We should move the persistence stuff to a separate Maven module for a cleaner separation of concerns.

What we could do is:
-   Create a new module "persistence"
-   Use Spring transaction management for persistence transactions (http://stackoverflow.com/questions/1079114/spring-transactional-annotation-best-practice)
-   Move all domain/entity classes to the new module
-   Move DAOs to the new mo

[2011-03-22 00:10] mlegenhausen commented on #23
When I understand this right, you want a UrnPrefix to Testbed mapping? Why not simply implement a datastructure on server side that provides this? Or even better client side?

[2011-03-22 12:18] mlegenhausen commented on #22
I think it is working as it should. Closed.

[2011-03-22 12:18] #22 closed, assigned to nobody

[2011-03-22 17:58] soenkenils commented on #24
I recently noticed that Gilead makes our *.war-file round about 45MB (!!) large because of its many dependencies.

That is another good reason to change the persistence mechanism. I started doing so in our new branch:

https://github.com/itm/wiseui/tree/persistence-refactoring

Ok, Spring-Hibernate isn't for free either, but at least it seems to bring us down to 20MB, which is still quite large bu

[2011-03-23 15:31] whantana opened #25 "Test error during Maven install"
Hi , I keep getting this error during "mvn clean install"

---
##  T E S T S

Running eu.wisebed.wiseui.client.util.AuthenticationManagerTest
Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.222 sec <<< FAILURE!

Results :

Tests in error:
  initializationError(eu.wisebed.wiseui.client.util.AuthenticationManagerTest)

Tests run: 1, Failures: 0, Errors: 1, Skipped: 0

Maven tries t

[2011-03-23 15:52] soenkenils commented on #25
Yes, I had this, too. This should work: https://github.com/itm/wiseui/commit/032f687367b528086afc639672aefaa8d1c72ca9

[2011-03-23 15:59] mlegenhausen commented on #25
Seems to work now.

[2011-03-23 19:14] iogakos commented on #24
I don't see why this is a good reason to get rid of a library. I understand that build/deploy times might get slight higher, but the advantages of Gilead over Dozer make me forget the size of the jar. I would agree if we were implementing a service where huge data sets are travelling over the wire, when both Gilead and Dozer could induce a remarkable overhead

You might want to take a look at the

[2011-03-24 09:53] soenkenils commented on #24
Ok, maybe I have to explain a little more. Yes, I know that Google documentation page about Hibernate and GWT integration. The documentation page gives an overview and of the possibilites for Hibernate integration. They also give some hints about the usage of Data Transfer Objects (DTOs).

But as far as I understood, Gilead is only one of many options they present. In a related note, Dozer has not

[2011-03-24 09:56] soenkenils commented on #25
Ok, nice. I'm closing this issue.

[2011-03-24 09:56] #25 closed, assigned to nobody

[2011-03-24 10:16] soenkenils commented on #24
Another update on the status of the new "persistence" module:

For now, two things can be stored:
-   Testbed configurations as described by the testbed-configurations.xml (tested)
-   Binary images (not fully implemented and untested; DAO and Service operations are still missing)

Next steps would be the implementation of the DAO and Service operations for binary images (the Hibernate annotated B

[2011-03-25 00:11] ichatz commented on #24
By using Gilead you avoid defining each Entity twice... So essentially the same object that is generated by Hibernate is used by Gilead and it is serialized to the client automagically. With Dozer this needs to be done manually...

Transaction management is done on the Hibernate side... the beans generated by Gilead are detected from the transaction. I fully agree with this direction.

In my mind,

[2011-03-25 11:04] soenkenils commented on #24
Ioannis, thanks for your comment. I agree,
1.   mapping transfer objects to persistent objects and
2.   transaction management

are two different issues.

Gilead shines for 1) but offers no solution to 2). For 2) I proposed Spring transaction management.

Currently, we only have just two Entities (it might be up to five or so in the future). For such a small number I don't see the need to tie us t

[2011-03-25 13:38] ichatz opened #26 "Static code analysis"
I have added the PMD and FindBugs code analysis tools.

OMHO, the most serious issues are those reported by FindBugs. Then by PMD, and finally for Checkstyle. Some times Checkstyle can be very pedantic. And some other times PMD may produce cyclic issues.

Anyway, it is a good idea to go through the code and clean up some important, yet simple to fix, issues.

For our convenience, I have added a pr

[2011-03-25 17:24] mlegenhausen commented on #24
+1 for snommsens ;)

Maybe I can show you more aspects why dozer usage is to preffered:

When using Gilead you have no control over the data that is transfered, cause you have always to transfer all data that is deliverd by Gilead. In many cases you dont want that. When looking at the best pratice guide from GWT, the RPC Service is a part of the GUI! It is not the same like RMI or other Service te

[2011-03-25 19:16] mlegenhausen opened #27 "Upgrade to Guice 3.0 Final"
Guice 3.0 is out with some new features: http://code.google.com/p/google-guice/wiki/Guice30

We should look at some Guice Module optimizations like @ImplementedBy Annotations and the new toConstructor method which can be used for classes that are not @Inject annotated. That can reduce our Modul size.

Currently there no public Maven Repo that has the final release. Maybe we should put it in the IT

[2011-03-25 19:20] mlegenhausen commented on #26
Very good idea. Can you make the reports public? When clicking on the build a can see nothing.

[2011-03-28 09:20] soenkenils opened #28 "Create Administration View To Manage Testbed Configurations"
In the new Administration page, the user shall be able to create, read, update, delete testbed configurations. This shall replace the static XML file _testbed-configurations.xml_.

The Administration page shall contain forms to achieve the above tasks. By submitting the forms a persistence operation is triggered on the server side.

[2011-03-28 10:19] mlegenhausen commented on #28
Should we edit the testbed-configuration.xml file or should we write it in a database?

[2011-03-28 10:25] soenkenils commented on #28
The _testbed-configurations.xml_ shall be completely replaced by managing the testbed configurations and store it in our database. You can use new the `PersistenceService` to store and load testbed configurations. That of course implies, that either you have to work in the 'persistence-refactoring' branch or we have to merge the new persistence into 'master' first...

[2011-03-28 12:18] mlegenhausen commented on #24
How is the status of this discussion? Have we found a consensus?

Some addition to my previous post:
Of cause you do not reduce only to the data that is currently displayed. It is always a tradeoff between which data is needed now or later and the general transfer overhead. That is what we doing with the TestbedConfigurations where we transfer the whole object for the TestbedSelection but only the

[2011-03-28 12:20] mlegenhausen commented on #28
I would prefer the second... but I can start on designing the view without having any persistence now.
How long would you say until you can merge into the master?

[2011-03-28 13:51] mlegenhausen commented on #28
I currently thinking about the design, wouldn't it be better instead of adding a complete new area simply adding a new view button to the TestbedSelection that is called administration? Cause I want to use the ConfigurationView to switch between the different testbeds.

[2011-03-28 14:12] mlegenhausen commented on #27
I will optimize the GIN usage in our project. This will reduce the amount of unnecessary guice ;)

[2011-03-28 14:15] soenkenils commented on #28
Sounds fine.

[2011-03-28 14:29] soenkenils commented on #24
@gakos, @whantana, @ichatz, what do you think? Shall we merge this into master this week?

[2011-03-28 15:13] mlegenhausen commented on #28
I rethought this, I think a administration view would better fit, so we don't mix up to much the view for the testbed content and the testbed configuration. But I will reuse the components.

[2011-03-28 18:26] whantana commented on #24
During the development so far I haven't done many stuff with the persistence . Having read the opposing arguments above, I came to agree with snommensens view on the persistence refactoring. Though our code extensibly uses Gilead and requires a great deal of refactoring to get over it, removing it would help decouple server's code and make those tier layers more discrete and easier to implement.
H

[2011-03-29 16:15] mlegenhausen opened #29 "Should we use yoda conditions in our source code?"
I found sometimes yoda conditions in the source: http://united-coders.com/christian-harms/what-are-yoda-conditions
Now the question should we use it as a general source convention? When yes we should add it to checkstyle. Sometimes it looks a little confusing, but is has his advantages.
One of the advantages can be added with checkstyle by preventing asignments in conditions.

[2011-03-29 16:21] ichatz commented on #29
I think we should.

On 03/29/2011 07:15 PM, mlegenhausen wrote:

[2011-03-30 09:45] soenkenils commented on #29
`"myString".equals(stringVariable)` is certainly better than having to check `stringVariable` for `null` first. But I don't know whether this can be configured with Checkstyle. I will evaluate that.

[2011-03-30 09:51] soenkenils commented on #29
What we also could do is add convenience checks in a generic class. In the other branch "persistence-refactoring" I also started such a class: https://github.com/itm/wiseui/blob/persistence-refactoring/shared/src/main/java/eu/wisebed/wiseui/shared/common/Preconditions.java.
We could extend this class in this respect.

[2011-03-30 10:58] ichatz commented on #29
I think that Checkstyle can support this...

check out the Sun configuration.

On 03/30/2011 12:45 PM, snommensen wrote:

[2011-03-30 11:51] soenkenils commented on #29
The rule for my above example is already included as `<module name="EqualsAvoidNull"/>` in our existing checkstyle configuration :-)

See https://github.com/itm/wiseui/blob/master/build-tools/src/main/resources/eu/wisebed/wiseui/checkstyle.xml

More on coding style can be found here: https://github.com/itm/wiseui/wiki/CodingStyleDesignNote

Everyone is welcome to contribute and comment on this des

[2011-03-30 12:45] mlegenhausen commented on #29
And what didi you say for the general usage of `if (null == variable)` ? I think a consistent convention would be good.

[2011-03-30 13:33] mlegenhausen commented on #27
What would you think about a hierachical injector? Currently we more and more extends the WiseUiGinjector, another aproauch would be to add methods that return sub injectors. Example:

[code]

That would also represent our project structure.

I am currently don't know if this is so easy as it is described but I would give a try.

[2011-03-31 10:52] mlegenhausen commented on #28
How do we determine who is allowed to edit the TestbedCofigurations?

[2011-03-31 11:36] soenkenils commented on #28
Good question. For the moment I would say the one, can log in to a testbed via our existing login mechanism shall also be allowed to change the configuration of the testbed.

But we should certainly think about a more fine-grained access management.

[2011-03-31 13:01] mlegenhausen commented on #28
In first instance we should solve this on the server side and simply throwing an exception.

When you mean more fine-grained access management, this will also include a seperated user management for the whole WiseUi?

[2011-03-31 14:18] mlegenhausen commented on #28
I will add the gwt-vl framework for form validation: http://sourceforge.net/projects/gwt-vl/
It seems active and make a good looking.

[2011-03-31 14:19] mlegenhausen commented on #28
Which fields of TestbedConfiguration are required? And is there a special format for the different fields? Like URLs?

[2011-04-01 09:55] soenkenils commented on #29
The rationale behind this (switching null and variable) is to avoid mixing up a boolean expression with an assignment, e.g. `if (variable = null)`. But I don't see this danger with modern IDEs and compilers.

![Check for NULL in modern IDEs](http://www.itm.uni-luebeck.de/users/nommensen/wiseui/ide_null_statement.png)

The real issue is avoiding such ugly statements at all :-) This is discussed her

[2011-04-02 00:10] mlegenhausen commented on #29
Sure, but most of the solutions can only be found with intensive code reviewing.

But in general we can go on and use the general syntax where we use `if (variable == null)` instead of `if (null == variable)`!?

[2011-04-04 13:22] mlegenhausen opened #30 "Extract the TestbedConfiguration list to an own activity"
Cause most of the operation that are done with sensor nodes relates to a TestbedConfiguration, the TestbedConfiguration list should always displayed. For this we need an own activity. This can then be used for an easier context change between different testbeds.

[2011-04-04 14:22] mlegenhausen commented on #30
Display where the user is currently logged in. Popup the login dialog on doule click. Indicate that this is possible through an info message.

[2011-04-04 14:24] mlegenhausen opened #31 "Extract the Info fields from the ConfigurationFormView to the widgets module"
Add new features:
- Several message types like error, warning, info, success
- (Timeout for displaying)
- Closeable

[2011-04-06 07:54] whantana opened #32 "Provide an experiment trace after the experiment termination"
The server's Experiment Controller should build an xml (WiseML) document containing the experiment's trace and provide it to the experimenter for download.
It's suggested to use this library found at https://github.com/ichatz/wiseml

[2011-04-06 08:16] soenkenils opened #33 "Integrate gwt-cal widget for node reservation"
We will integrate the gwt-cal widget (http://code.google.com/p/gwt-cal). First, we will use try this out and load all public reservations via the RS API.

[2011-04-06 10:53] whantana opened #34 "Rearrange Experimentation view and activity"
...in accordance with the changes made in the Luebeck Meeting

[2011-04-06 13:23] whantana opened #35 "Cookies should contain keys for authentication and reservation on the testbeds"
One user can authenticate himself in multiple testbeds and possibly make many reservations
The authentication/reservation manager living on the client should have a HashMap or another key-value structure to map keys generated by a testbed.
One can realise that there is mapping of several keys to a testbed

Example:
User authenticates on CTI and on UZL and makes reservations on both testbeds.
So fo

[2011-04-06 15:54] mlegenhausen commented on #19
The global place (WiseUiPlace) is now integrated and working. There are some optimizations to do, but it looks good at the moment.

[2011-04-06 17:04] mlegenhausen commented on #19
There is currently a lot of boiler plate Code in the WiseUiPlace. This can maybe replaced by defered binding.

[2011-04-06 17:19] mlegenhausen commented on #28
I think we can remove the Administration tab and integrate this party completely in the TestbedList via a popup.

[2011-04-07 14:52] whantana commented on #35
Consider this scenario:
1. Not authenticated user with no reservations made so far on any testbed
   1 : Authenticates himself on a testbed (say UZL).
   1.1 : Updates the cookie maybe in this way : Cookie.Key contains the testbed id and Cookie.Value contains the SecretAuthenticationKey provided.
   2 : User now makes a reservation as authenticated
   2.1 : Updates the cookie maybe in this way : C

[2011-04-07 14:55] whantana commented on #35
I feel that we don't want a developer-eating cookie monster in our app. So i suggest trying something like http://code.google.com/p/gwt-mobile-webkit/

Don't get fooled by the name it works on almost every desktop and mobile browser.

I'd love hearing feedback on this and all above

[2011-04-07 14:58] whantana commented on #35
Just to avoid any confusion , I found the above link while searching for a client storage .

See http://stackoverflow.com/questions/4983313/gwt-client-side-html5-database-storage-web-sql-database

[2011-04-10 10:25] #24 closed, assigned to soenkenils

[2011-04-11 09:18] soenkenils commented on #29
IMHO, it does not matter really much whether we will write `null` first or second. Personally, I prefer the first method for readability reasons. What we have to keep in mind though, is the EqualsAvoidNull rule!

[2011-04-11 09:18] #29 closed, assigned to nobody

[2011-04-11 09:21] soenkenils commented on #26
As @ichatz already added a reference to the Hudson/Jenkins build system in the README file, I will close this ticket.

[2011-04-11 09:21] #26 closed, assigned to nobody

[2011-04-12 15:12] mlegenhausen commented on #13
FamFamFam Icons added. Free to use with the FamFamFamResources class.

[2011-04-12 15:12] #13 closed, assigned to mlegenhausen

[2011-04-12 15:13] soenkenils opened #36 "Add License Header to Source Files"
Everybody, please add this header (change the author of course) in the files you are working on.

[code]

[2011-04-12 15:20] mlegenhausen commented on #27
My previous approuch is not working.

Guice 3.0 final is now available in the maven repo.

[2011-04-12 15:28] mlegenhausen commented on #27
toConstructor is currently not supported by Google Gin 1.5.0 but it is only an optimization.
I will close this issue cause the api is now stable.

[2011-04-12 15:28] #27 closed, assigned to mlegenhausen

[2011-04-16 19:01] mlegenhausen opened #37 "Handler has to be removed from the EventBus in a clean way"
There are currently some unwanted side effects that are for example lead to the loading indicator int he upper left corner when the administration panel is loaded. This happens cause there is an reference left to the MapPresenter, which is also called when you enter the Administration part.

To avoid this, when the onStop method is called all handlers has to be removed from the event bus. A genera

[2011-04-16 20:44] mlegenhausen commented on #37
I added a new class EventBusManager that allows the easy remove of all Handler from the eventbus by calling a removeAll method. Note: Do not use this class inside the actvity cause this can lead to a redundant remove exception. Handler added inside an activity are automatically removed. Use this class instead in sub presenters.

There is also a new interface Bindable that can be used with the Bind

[2011-04-16 21:03] mlegenhausen commented on #37
I think i can optimize this approuch, cause an onstop happens on a goTo. When this happens a event is fired. Maybe I can use this event for an automatic remove. This will make the BindingManager unnecessary.

[2011-04-17 11:33] mlegenhausen commented on #37
When you want to remove the bindings from the event bus simply use the PlaceChangeEvent and then call removeAll() from the EventBusManager.

[2011-04-17 11:33] #37 closed, assigned to mlegenhausen

[2011-04-19 10:43] mlegenhausen commented on #28
The administration tab is now fully integrated in the testbed list. But currently is the serverside functionality missing.

[2011-04-26 15:35] mlegenhausen opened #38 "Update Google Guava to release 09"
This release can be found in the maven central repository: http://repo2.maven.org/maven2/com/google/guava/guava/r09/

[2011-04-27 08:22] #38 closed, assigned to soenkenils

[2011-04-27 15:22] pfisterer opened #39 ""Show more" link in the WiseML detail view does not work"
Browser Used: Firefox 4
Testbed: Federator

[2011-04-29 15:45] soenkenils commented on #33
Because gwt-cal provides no standard calendar navigation, I had to implement it by myself (including some Date calculations). The calendar in our PublicReservationView can now be navigated properly.

Node Reservation still has to be done.

[2011-04-30 12:42] mlegenhausen commented on #15
Closed, cause for more than one month no optimization requests.

[2011-04-30 12:42] #15 closed, assigned to nobody

[2011-05-02 12:55] mlegenhausen commented on #28
The task itself is done. Please open issues for bugs.

[2011-05-02 12:55] #28 closed, assigned to mlegenhausen

[2011-05-02 12:58] mlegenhausen opened #40 "Use the testbed id for selection in the testbedlist instead of the index"
Currently the position in the testbed list is used for the selection. Cause we now store the testbed in a database we should rather use the id.

[2011-05-02 13:00] mlegenhausen opened #41 "Show an indicator for testbeds the user is logged in"
Currently there is no display for showing the user in which testbeds the user is logged in. For this purpose in the testbed list an indicator should be added.

Note: The user is logging in on urn prefix base and not on testbed base!

[2011-05-02 13:02] mlegenhausen commented on #30
The issue is mainly solved. More optimizations are refered in the issues #40 and #41.

[2011-05-02 13:02] #30 closed, assigned to mlegenhausen

[2011-05-04 10:40] mlegenhausen opened #42 "Update GWT to Version 2.3.0"
New Version is available with IE9 support: http://code.google.com/intl/de-DE/webtoolkit/release-notes.html#Release_Notes_Current

[2011-05-04 11:54] mlegenhausen commented on #42
Currently not possible until the GWT Maven Plugin is updated.

[2011-05-10 11:07] soenkenils commented on #41
I prepared this with a quick hack. But the current solution is non-ideal and has to be improved.

[2011-05-10 11:07] soenkenils commented on #33
This is done. We now have to focus on the reservation of nodes.

[2011-05-10 11:07] #33 closed, assigned to iogakos

[2011-05-10 11:16] soenkenils opened #43 "Actually perform reservations"
With the current version, the WiseUI can display all public reservations in a calendar. But what still has to be done is the reservation of nodes.

I prepared this with a Tree view of the testbed in the Reservation view. This tree view has to be extended with a checkbox (see http://gwt.google.com/samples/Showcase/Showcase.html#!CwCellTree).

The WiseUI reservation panel shall offer the user the po

[2011-05-10 22:58] iogakos commented on #41
I think a descriptive icon near the cell entry is OK.

If we want to make it more usable we could emphasize the corresponding testbed entry in the cellList (like an instant green flash/blur), by the time the user successfully authenticating. Something like indicating to the user  "[<-- The testbed you logged in is here/]" and applying a 'tick' icon next to the testbed entry.

[2011-05-10 23:16] iogakos commented on #43
+1

Should we double click to determine a time interval for a new reservation or should we handle a click/drag/unclick event?

[2011-05-11 14:18] soenkenils commented on #43
@gakos Would you take care of this task?

First, we need the fundamental functionality. Later you can implement the drag event handlers. My idea is to use a pop-up (ReservationEditView; a basic version of this view should already exist) to create and edit reservations. This pop-up can be shown when a time slot in the calendar is double-clicked. There is already a event-handler for this event, whic

[2011-05-11 14:31] soenkenils commented on #41
For the time being, please treat this issue with low priority :-)

[2011-05-11 14:33] iogakos commented on #43
@snommensen I am currently working on this.

I also agree on the 'pop-up' idea.

[2011-05-11 14:37] soenkenils commented on #19
Ok, this seems to work. For the time being we'll leave it like that. We can optimize this for M2.

[2011-05-11 14:37] #19 closed, assigned to mlegenhausen

[2011-05-11 14:40] soenkenils commented on #34
@mlegenhausen @whantana Can you please add some more details about the new Experimentation view (in this issue)?

[2011-05-11 14:41] soenkenils commented on #43
Ok, nice :-D

[2011-05-19 09:19] pfisterer commented on #36
You can use Maven's license plugin (see https://github.com/pfisterer/fabric/blob/master/pom.xml for help on configuration). Place the License header in the file src/etc/license-header.txt (example: https://github.com/pfisterer/fabric/blob/master/src/etc/license-header.txt).

[2011-05-20 08:40] soenkenils commented on #39
@mlegenhausen: Have you seen this bug report and can you confirm or clarify this behavior of the "Show more" link?

[2011-05-20 09:38] mlegenhausen commented on #39
I can not confirm this behaviour. But it looks like that the show more link is shown even if there is no more data to show. May be this can be confusing.

[2011-05-22 15:37] mlegenhausen opened #44 "Change from Spring Persistence to Guice Persistence"
Instead of using the big spring framework for only this little persistence layer, I would recommend to use the Transaction management from guice: http://code.google.com/p/google-guice/wiki/GuicePersist

[2011-05-22 16:37] danbim opened #45 "WiseUI fails to start from Eclipse"
I configured WiseUI according to all instructions in README.md / the WiseUI Wiki but it fails to start with the folling error(s):

[code]

[2011-05-22 17:07] mlegenhausen commented on #45
I had this error too, the solution is to copy the spring.handler file from the spring transaction JAR to the META-INF directory of the persistence modul.
This bug seems only to apply when using eclipse. Currently I don't know why...

[2011-05-22 22:51] mlegenhausen commented on #42
The is some progress to add support for GWT 2.3.0. On the website stays something about a 2.3.0-SNAPSHOT Version. This version is currently not available in any repository.

[2011-05-23 05:55] iogakos opened #46 "Confidential reservation data / View"
Should we have a separate view for displaying confidential reservations?

What i am actually trying to do, is to insert a 'delete reservation' button in the popUp dialog when double-clicking on a reservation. Considering the appointments rendered in the calendar are all public reservation data, even if the user has already logged in, he will not be able to delete the reservation because of the mis

[2011-05-23 07:21] danbim commented on #45
OK. Made the fix. Now the error is a different one:

[code]

I verified the database settings in ~/.m2/settings.xml:

[code]

So the `hibernate.dialect` property is correctly set and the error message seems misleading. Do you have any clue about that error?

[2011-05-23 09:17] danbim commented on #46
Obviously the APIs are not very nicely defined for this use-case. From the users point-of-view I think it would be the nicest to simply display the users' reservations in a different color than the others and to make the "delete reservation"-button available only in these colored reservations. Therefore, I don't really like the second approach as this would change the UI behaviour because of an AP

[2011-05-23 09:21] mlegenhausen commented on #45
Do you get the same error when starting without eclipse?
Have you activate your profile?

[2011-05-23 10:17] danbim commented on #45
You mean by running mvn gwt:run?

[2011-05-23 10:28] mlegenhausen commented on #45
yes, but be sure that you are in the client directory when running mvn gwt:run ;)

[2011-05-23 12:20] danbim commented on #45
Seems to have been murphy's law. It now works.

Could you add the `spring.handler` thingy to the documentation for the time being?

[2011-05-23 12:26] danbim opened #47 "Use JavaDB as default persistence configuration"
It would be nice if one could simply clone WiseUI and either `mvn gwt:run` or `mvn package` the project without having to configure a lot of things. This would lower the effort to get the system up and running. We could use JavaDB (which ships with the JRE) as default persistence layer which should be perfectly fine from a performance point-of-view. That could be overridden by additional configura

[2011-05-23 12:32] ichatz commented on #47
This is a nice idea.

Another alternative is HSQL -- also a native Java RDBMS that is fully
compatible with PErsistence API and has the option to run embedded with
the VM... so absolutely 0 files.

On 05/23/2011 03:26 PM, danbim wrote:

[2011-05-23 12:46] danbim commented on #47
Fine with me. I only think there should be no setup work necessary in shipping configuration :)

[2011-05-23 12:47] mlegenhausen commented on #47
+1
An automatic way for loading the test data to the database would be fine too.

[2011-05-23 12:55] mlegenhausen commented on #45
This workaround is added to our documentation: https://github.com/itm/wiseui/wiki/HowtoUseHostedModeOfEclipseGwtPlugin

[2011-05-23 12:55] #45 closed, assigned to nobody

[2011-05-25 13:46] soenkenils commented on #39
Seems like this is not a defect but an user interface issue.

[2011-05-25 13:51] pfisterer commented on #39
What does this mean? It doesn't work for me in different browsers (FF4 and Chrome). The same happens on Daniel's Mac.

[2011-05-25 14:20] soenkenils commented on #47
Implemented quick win solution.

[2011-05-25 14:20] #47 closed, assigned to nobody

[2011-05-25 14:46] soenkenils commented on #44
Looks promising. We can further evaluate this for M2.

[2011-05-26 11:31] soenkenils commented on #39
The "Show more" belongs to the default GWT tree widget. It works fine for me in Safari/Chrome (Mac) in Hosted Mode and deployed in a Tomcat.

Maybe this is related to http://code.google.com/p/google-web-toolkit/issues/detail?id=5547.

[2011-05-26 13:24] pfisterer commented on #39
Ok, so let's hope for a fix in GWT.

[2011-05-26 13:24] #39 closed, assigned to mlegenhausen

[2011-05-27 14:53] #43 closed, assigned to iogakos

[2011-05-29 15:12] mlegenhausen opened #48 "Project is not buildable"
There are some event object missing. The project is currently not buildable.

[code]

[2011-05-30 13:36] #48 closed, assigned to whantana

[2011-05-30 22:19] mlegenhausen opened #49 "Change from GWT-RPC to RequestFactory"
Since GWT 2.1 there is a new approuch for using GWT-RPC that makes some stuff much easier and more efficiant.
Take a look at here: http://code.google.com/intl/de-DE/webtoolkit/doc/latest/DevGuideRequestFactory.html
And on the Google I/O Video: http://www.google.com/events/io/2011/sessions/highly-productive-gwt-rapid-development-with-app-engine-objectify-requestfactory-and-gwt-platform.html

[2011-05-31 13:38] soenkenils commented on #36
Thanks, we are now using the Maven License plugin.

[2011-05-31 13:38] #36 closed, assigned to nobody

[2011-05-31 14:29] whantana opened #50 "Maven License plugin problem."
Got latest commit and run on the top level of project (./wiseui)

mvn clean install

and the mvn stops containing this :

[WARNING] The POM for com.mycila.maven-license-plugin:maven-license-plugin:jar:1.9.1.1-SNAPSHOT is missing, no dependency information available

[2011-05-31 16:07] danbim opened #51 "Flash nodes functionality"

[2011-05-31 16:07] danbim opened #52 "Reset nodes functionality"

[2011-05-31 16:08] danbim opened #53 "Send message functionality"
Takes String input as argument (cf. iShell) and sends it to a selected node

[2011-05-31 16:10] danbim opened #54 "Display experiment output"
Display the output of sensor nodes in text form, e.g. using WebSockets

[2011-06-01 08:43] danbim commented on #49
Could we please have tickets like these on a very low priority? I think what we now need is functionality (#51, #52, #53, #54), not architecture refactoring even though I'm a good friend of them ;-)

[2011-06-01 08:45] danbim commented on #50
Did you check if maybe just the repository of the dependency was temporarily down or the meta data on the repository is broken? Sometimes this leads to errors like this...

[2011-06-01 08:57] soenkenils commented on #50
Thanks. I forgot to change back the plugin version to the official one after experimenting with my own version of the plugin.

[2011-06-01 08:57] #50 closed, assigned to nobody

[2011-06-01 09:05] soenkenils commented on #54
In part duplicate (issue #32). WebSocket implementation can be evaluated for M2.

[2011-06-01 09:13] soenkenils commented on #52
How does this differ from #51? Do we need to trigger the reset function explicitly?

[2011-06-01 09:16] soenkenils commented on #53
Currently not planned for M1. Could please provide a more detailed description?

[2011-06-01 09:20] danbim commented on #54
Is there no such thing as live output viewing planned?

[2011-06-01 09:21] danbim commented on #52
Yes, that's another API call and resetting nodes doesn't require to reflash the nodes (which decreases the overall lifetime of the hardware) and works faster.

[2011-06-01 09:24] danbim commented on #53
You can input a string into the UI that will be parsed to a byte array. That can be either hex-values (0x1 0x2 0x3...) or decimal values (1 2 3 4...). I'm not sure if there are more modes of operation in iShell but these two should be sufficient as a first iteration. There's really nothing more to be done than parsing that byte-array, selecting the node(s) and sending it to WSN.send(...).

[2011-06-01 09:24] soenkenils commented on #54
At least not for M1.

[2011-06-01 10:10] mlegenhausen commented on #49
I don't attached them to any Milestone, cause of the fact you said. But before we forget something we better add it to the issue tracker. Maybe we should add some priority labels, to get a order which issue we should work on first.

[2011-06-01 11:20] soenkenils opened #55 "Re-use EditReservation{View, Presenter} for Reservation CRUD-operations"
## Re-use Existing Widget `EditReservation`

Currently, we show a different Pop-Up window for creating and deleting reservations. We could re-use the `EditReservation{View, Presenter}` to implement create, read, update and delete ('CRUD') operations for reservations.

The challenge is to find a way to fetch the list of nodes associated to the reservation to show them as "Node Summary" as in the `m

[2011-06-01 18:51] whantana commented on #54
so far there is code implementing live output but it does not use websockets. it polls queue messages from server , i can easily add it for the M1 release. However here in RACTI we stressed that is importan to provide a WiseML trace doc rather than live output

[2011-06-01 18:53] whantana commented on #52
I think it could be implmented easily just like flash functionality on the WiseUI . i think i can make by the M1

[2011-06-01 18:56] whantana commented on #51
today i ve pushed the flash node functionality. you can test it. Although be advised to run the service behind a public IP host cause or the WSN instance won't be instantiated properly.

You can check the server logging output to see status updates of the flashing

[2011-06-01 18:56] #51 closed, assigned to nobody

[2011-06-01 18:59] whantana commented on #34
there's a currently a view problem. The experimentation view container when filled with a number of experiments get those experiment panels get smaller and smaller , even though the container is scrollable and can handle multiple components. This is either a style issue or i widget issue since the experiment panels are DockLayoutPanels that tend to be resizable. Overall the view is almost finished

[2011-06-01 19:01] #35 closed, assigned to iogakos

[2011-06-01 19:01] #41 closed, assigned to iogakos

[2011-06-01 19:02] whantana commented on #55
hi , you think we can make it by the M1 ? if not should we reassign issue for M2 ?

[2011-06-01 19:02] #40 closed, assigned to iogakos

[2011-06-03 13:12] soenkenils commented on #55
Ok, maybe we don't need 'U' for M1. 'C', 'R' and 'D' are already implemented, but a better 'R' would be nice :-)

What I would like to have is the "Node summary" from the 'C' dialog.

[2011-06-05 15:58] #31 closed, assigned to mlegenhausen

[2011-06-05 16:01] whantana opened #56 "User's reservations don't appear on the PublicReservationView"

[2011-06-06 07:39] whantana opened #57 "More than 3 experiment mess up the experimentation view"
The experiment container can hold multiple experiment panels. The problem is that though i have tried numerous css formats the height of those panels is getting smaller if more panels are added to experiment container. The experiment container is a ScrollablePanel and it could handle a number of fixed-sized panels. I think the problem is mostly HTML or CSS related.

[2011-06-06 12:23] pfisterer opened #58 "Login-Indicator (orange/green dot) for each testbed displays incorrect status"
The Login-Indicator (orange/green dot) for each testbed displays a incorrect status. For instance, for an active login with the UZL testbed (prefix: wisebed:uzl:), the dot is green (which is correct). However, a green dot is also shown for the Federator (which is wrong, since it comprises multiple prefixes and hence we don't have a login for the others).

[2011-06-07 10:31] soenkenils commented on #58
Yes, this is a known bug, which still persists due to low prioritization :-) However, as you specified, M2 is the correct milestone to solve this.

[2011-06-07 13:10] master-lincoln commented on #58
I have solved it. Will upload later...
One Problem was in the WiseML descriptor of the Federator: The urn prefixes list was only containing uzl and the other problem was in the AuthenticationManager

[2011-06-07 13:10] #58 closed, assigned to nobody

[2011-06-07 14:13] #56 closed, assigned to nobody

[2011-06-07 14:36] soenkenils opened #59 "Give Philipp a Nice Welcome :-)"
Dear Team,

please welcome our newest WiseUI-Team member Philipp (on GitHub he is @master-lincoln)!

Philipp is a student at the University of Lübeck and will work with us for the next two months.

So, Philipp, welcome! Nice to have you on board. And now I will create some real issues for you ;-)

Best regards,
Sönke

[2011-06-07 14:40] soenkenils opened #60 "Add Missing URN-Prefixes in Federator Configuration"
Currently, the Federator configuration only contains the UZL URN prefix. The other URN prefixes have to be added in order for the authentication to work properly.

[2011-06-07 14:46] soenkenils commented on #55
I implemented the re-use of the view. But it's not fully functional, yet.

Currently I'm resurrecting the 'D'-functionality.

@master-lincoln Would you implement the 'U'-functionality?

[2011-06-07 14:50] mlegenhausen commented on #59
Welcome Philipp!

[2011-06-07 14:51] soenkenils opened #61 "Fix the Loading-Indicator in the Resevation Tab (Node Selection Panel)"
The `NodeSelectionViewImpl` in on the Reservation Tab should have a loading-indicator. The code to show and hide the indicator is already there but currently not working. Please find out why and fix the problem.

[2011-06-07 14:54] soenkenils opened #62 "Automatic Reload After Authentication"
Currently, the testbed list and the reservations, etc. have to be reloaded manually after a user has authenticated until the according changes are reflected in the UI. Please correct this UI behavior, e.g. by establishing a real data-binding between the testbed list and the underlying data.

[2011-06-07 15:00] soenkenils opened #63 "Provide a More Descriptive Authentication Error Message"
When a user only provides his user name instead of the whole user string (e.g. <username>@wisebed1.itm.uni-luebeck.de) he gets an authentication error saying something like "An error occured." This message should be more descriptive as provided by the actual exception.

[2011-06-07 15:01] ichatz commented on #59
WELCOME !!

On 06/07/2011 05:36 PM, snommensen wrote:

[2011-06-07 15:05] #62 closed, assigned to master-lincoln

[2011-06-07 15:05] #60 closed, assigned to master-lincoln

[2011-06-07 15:36] danbim commented on #59
Welcome aboard!

[2011-06-07 16:42] whantana commented on #34
Just a question, so far this view displays data related to reservations on testbeds other than the federator testbed which contains multiple urnPrefixes and multiple data .

Should the experimentation view support multiple urns and reservation keys?

[2011-06-07 17:40] master-lincoln commented on #63
I investigated on this but I don't get any further:

in `client/testbedlist/util/AuthenticationHelper.java` method `onFailure(final Throwable caught)` I get an `eu.wisebed.wiseui.shared.exception.AuthenticationException`

The "actual" Exception is the cause ( `eu.wisebed.api.snaa.SNAAExceptionException`) which is generated on the server. But if I do `caught.getCause()` I get no response. This migh

[2011-06-07 21:27] whantana commented on #59
welcome ^^

[2011-06-08 07:44] master-lincoln commented on #59
Thanks together...
I guess I can close this now.

[2011-06-08 07:44] #59 closed, assigned to nobody

[2011-06-08 11:37] soenkenils commented on #63
Yes, please change the two exception blocks accordingly.

[2011-06-08 11:52] master-lincoln commented on #63
Should be fixed now but I couldn't test yet...

[2011-06-08 20:52] #63 closed, assigned to master-lincoln

[2011-06-10 00:06] #34 closed, assigned to whantana

[2011-06-10 00:06] #57 closed, assigned to nobody

[2011-06-10 09:09] soenkenils opened #64 "Cannot Build Project"
Can you please add the `eu.wisebed.wiseui.client.experimentation.event.RefreshWiseMLEvent`?

The current version does not compile:

[code]

[2011-06-10 09:27] whantana commented on #64
pushed pushed ! !  ^^

[2011-06-10 09:27] #64 closed, assigned to whantana

[2011-06-10 12:15] #52 closed, assigned to nobody

[2011-06-10 12:15] #32 closed, assigned to whantana

[2011-06-10 12:41] master-lincoln opened #65 "Cannot Build Project"
Currently `mvn clean install` gives me

<pre>
[INFO] ------------------------------------------------------------------------
[INFO] Building WiseUI - Server
[INFO]    task-segment: [clean, install]
[INFO] ------------------------------------------------------------------------
[INFO] [clean:clean {execution: default-clean}]
[INFO] Deleting directory /media/WISEBED/WISEBED/workspace/wiseui/server/

[2011-06-10 12:47] whantana commented on #65
Today we added "setChildren" to the WiseML JibX lib the experimentation servlet uses. They maintain it here in RACTI and pushed at their repo this addition at https://github.com/ichatz/wiseml today. It will be uploaded at the maven repo soon , you can also pull it . Please close this issue when fixed.

[2011-06-10 14:48] soenkenils commented on #65
The new version seems to be available now in the maven repository.

**Hint:** Use `mvn clean install -U` to enforce updates of dependencies and plugins.

In this particular case it would have been better to wait with your push until the dependency was available. In general, please only push code that compiles to ensure that everyone can work with the latest version from the repository.

[2011-06-10 14:48] #65 closed, assigned to whantana

[2011-06-10 22:56] master-lincoln commented on #55
Done... See commit 86af7bdd14389fd05ed37ea8a110935d94db8c2c

[2011-06-10 22:56] #55 closed, assigned to nobody

[2011-06-13 10:23] ichatz opened #66 "Cleanup code and fix warnings"
There is an excess number of PMD, Checkstyle and FindBugs warnings.

[2011-06-13 11:36] ichatz commented on #65
Hudson can built the project without any problem...

[2011-06-13 23:55] mlegenhausen commented on #42
Version 2.3.0 is now available from http://mojo.codehaus.org/gwt-maven-plugin/whats_new.html

[2011-06-14 00:07] mlegenhausen commented on #42
The project is already running GWT 2.3.0 so this issue can be closed.

[2011-06-14 00:07] #42 closed, assigned to nobody

[2011-06-14 11:14] soenkenils opened #67 ""mvn gwt:run" does not work properly since update to GWT 2.3.0"
I don't know why exactly, but `mvn gwt:run` does not work properly (at least on my computer) since I changed the GWT version to 2.3.0. The error message was:

[code]

Thus, I added a Hibernate Provider dependency to the `persistence`-module in `persistence/pom.xml`:

[code]

With that change `mvn gwt:run` works again.

Did someone experience something similar?

[2011-06-14 14:36] master-lincoln commented on #67
I can confirm this. Your fix also worked for me.

Would you please commit that change?

Update:
I now get the following warning inside my browser when starting:

<pre>
ERROR: Possible problem with your *.gwt.xml module file.
The compile time user.agent value (safari) does not match the runtime user.agent value (gecko1_8). Expect more errors.
</pre>

And I lost the ability to start from eclipse.
Er

[2011-06-16 07:22] #67 closed, assigned to soenkenils

[2011-06-16 23:28] #46 closed, assigned to nobody

[2011-06-20 13:22] danbim opened #68 "Change dependency from tr.util to itmutils"
In order to avoid circular dependencies the `tr.util` module was promoted to a "top-level" project: https://github.com/itm/itm-utils/. Update the dependency accordingly.

[2011-06-20 13:23] danbim opened #69 "Experimentation View: Don't display secret reservation keys of other users reservations"
Currently all reservations are shown including their SRK even if the reservations are owned by another user.

[2011-06-20 13:52] soenkenils commented on #69
Which version do you refer to? The deployed wiseui-beta? I was just trying it and cannot confirm this.

But this could be done, if we weren't filtering the confidential reservation data in the client. Why does the TR returns all the secret reservation keys in the first place?

[2011-06-20 14:14] danbim commented on #69
Yes, the currently deployed wiseui-beta does it. Also, the deployed version is only optimized for Safari (I get an error message).

[2011-06-20 14:15] soenkenils commented on #69
For which testbed, UZL?

[2011-06-20 14:18] danbim commented on #69
Yes

[2011-06-20 14:23] soenkenils commented on #69
Tried it again. Still cannot confirm. Do you have a screenshot so I can see what might by wrong?

[2011-06-21 07:17] danbim commented on #69
Screenshot attached!

Am 20.06.11 16:23, schrieb snommensen:

[2011-06-21 08:21] soenkenils commented on #69
Sorry, but I cannot find the attachment. Can you send it to me via mail or skype?

[2011-06-21 10:49] danbim commented on #69
Updated the tickets description: this bug happens in the experimentation view.

[2011-06-22 07:24] danbim opened #70 "Experimentation View: Exception on binary image upload"
When trying to upload a binary image to be flashed to the nodes I get the following exception (on wiseui-beta deployment):

[code]

[2011-06-22 11:00] soenkenils commented on #68
`tr.util` isn't imported anymore.

[2011-06-22 11:00] #68 closed, assigned to nobody

[2011-06-22 16:47] ichatz opened #71 "Hudson build failed"
(please do not close this task so that hudson can send notifications to this task thread)

[2011-06-22 16:57] soenkenils commented on #71
Do you know how I can trigger a Hudson build every time someone pushes to GitHub? I would also like to deploy the resulting war-file to a Tomcat automatically. Can this be configured?

[2011-06-22 18:25] ichatz commented on #71
I have configured that a couple of days ago... now I think that it is working.

Essentially it is polling git every hours to see if there is anything new to pull, and then builds...

Then you can get tweets of the outcome if you follow the ru1hudson account.

Now I want to use the e-mail of this thread to post notifications on the outcome of the builds.

[2011-06-22 22:41] ichatz commented on #71
Yes, you can also configure it to be deployed automatically via scp.

[2011-06-29 15:34] pfisterer opened #72 "Implement a testbed heartbeat table"
Implement a new WiseUI tab that displays a status table that displays an up-to-date status of all configured testbeds. The status should be determined by invoking methods of the APIs and check for correct behaviour.

The following data should be displayed (e.g., using a table):
- Overall status (e.g., using sunny, cloudy, thunderstorm icons)
- Description
- URN prefix(es)
- SNAA API Web Service En

[2011-07-01 08:39] soenkenils commented on #69
Fixed.

[2011-07-01 08:39] #69 closed, assigned to nobody

[2011-07-01 08:40] soenkenils commented on #70
This was due to a lost database connection as MySQL is configured to close connections after 8 hours. I added the `autoReconnect=true` parameter to the JDBC connection string, which should fix this issue.

[2011-07-01 08:40] #70 closed, assigned to nobody

[2011-07-04 11:14] soenkenils opened #73 "UI blocked for first reservation after login"

[2011-07-04 11:15] soenkenils opened #74 "Update reservations on drag and drop of calendar entries"

[2011-07-07 15:07] mlegenhausen commented on #44
I tryed it out in my master thesis and it is really easy to use and reduces the code dramatically. But I ran also in a very annoing problem. So when using keep in mind the following. In the documentation is described when using the Repository/DAO as singleton the entityManager has to be injected as provider. But cause of the fact that each servlet is also a singleton, a reference to a Repository/D

[2011-07-07 18:59] mlegenhausen commented on #49
To get RequestFactory working with Guice, you can use this library: https://github.com/etiennep/injected-requestfactory

[2011-08-03 14:03] soenkenils commented on #8
Done.

[2011-08-03 14:03] #8 closed, assigned to nobody

[2011-08-03 14:04] soenkenils commented on #71
Can we close this? Seems not to be updated by Hudson...

[2011-08-16 23:05] #71 closed, assigned to nobody

[2011-09-09 00:01] mlegenhausen opened #75 "Update GWT to Version 2.4.0"

[2011-09-09 12:08] mlegenhausen opened #76 "Clean up POMs"
Two issues:
- Version tag unnecessary cause parent pom defines version.
- org.eclipse.m2e lifecycle-mapping can be defined by the wiseui POM.

[2011-09-09 12:12] #76 closed, assigned to mlegenhausen

[2011-11-28 13:21] danbim opened #77 "UI: testbed selection: login on double click"

[2011-11-28 13:23] danbim opened #78 "UI: reservation view: copy into clipboard on double click or provide button to do that"
Ideal model: git-link box in github e.g., https://github.com/itm/wiseui

[2011-11-28 13:24] danbim opened #79 "UI: reservation view: don't ask to discard changes if no changes were made"

[2011-11-28 13:24] danbim opened #80 "UI: reservation view: rename "Public Reservations" heading to "Reservations""

[2011-11-28 13:25] danbim opened #81 "UI: reservation view: grey out calendar until nodes are selected"
A user should not be able to try and create a reservation before nodes are actually selected on the left hand side of the view.

[2011-11-28 13:27] danbim opened #82 "UI: experimentation view: better error message when no reservations *currently* available"
The current message says "There are no reservations for you." which is misleading as there's just no reservation currently running.

[2011-11-28 13:29] danbim commented on #72
Do we still need this?

[2011-11-28 13:34] danbim opened #83 "UI: reservation view: wizard for making a reservation"
The wizard would help a user to make a reservation based on his personal requirements. It would e.g., ask the user for the set of required nodes (e.g. using a table-based selection that can be filtered based on several criteria). Then it would e.g. find the next free time slot(s) of the required size at which the testbed would be available for the reservation and propose these to the user for sele

[2011-11-28 13:35] danbim opened #84 "UI: reservation view: deselect child nodes when node type parent is deselected"

[2011-11-28 13:36] danbim opened #85 "UI: reservation view: remove annoying "show more" link and just display everything..."

[2011-11-28 13:41] danbim opened #86 "UI: reservation view: hide reservation key field if reservation is yet to be created..."

[2011-11-28 13:55] danbim opened #87 "UI: login dialog: execute login when pressing 'enter', close dialog on 'escape'"

[2011-11-28 13:56] danbim opened #88 "UI: success/failure dialog shows unrelated stacktraces"
Sometimes when an operation completed successfully a stacktrace is show which obviously comes from an event in the past but not from the current operation.

[2011-11-28 13:58] danbim opened #89 "UI: flash dialog: disable button flash button after clicking the flash operation"

[2011-11-28 13:59] danbim opened #90 "UI: disable animations"

[2011-11-28 14:00] danbim opened #91 "UI: node output: print one line per message received"

[2011-11-28 14:02] danbim opened #92 "UI: node output: allow user to select type of output"
Let the user be able to select between e.g., hexadecimal output, decimal output, String-interpretation, ...

[2011-11-28 14:05] danbim opened #93 "UI: experimentation view: one node output window for the output of all nodes"
Create a widget that can be ideally used without WiseUI that is able to connect itself to a running experiment and provide the outputs of all or individual sensor nodes. The user should be able to select a subset of nodes, the type of message interpretation (as String, hexadecimal, octal, decimal, provide format Strings) and to download the resulting view of the experiment output.

[2011-11-28 14:08] danbim opened #94 "UI: experimentation view: downloading WiseML fails"
[code]

[2011-11-28 14:08] danbim opened #95 "UI: exception view: no line breaks in stacktraces"

[2011-11-28 14:21] danbim opened #96 "UI: reservation fails with misleading error message when there's a conflict with another reservation"

[2011-12-01 09:31] danbim opened #97 "UI: calendar starts at midnight instead of working hours"

[2011-12-01 09:34] danbim opened #98 "Don't allow users to edit and delete public testbed configurations"

[2016-04-13 12:14] #72 closed, assigned to nobody

[2017-12-11 16:11] bohemian commented on #29
if (variable = null) wont even compile in java, except in the rare edge case of variable being Boolean, in which case the assignment will cause a NPE, and not a silent assignment.
All yoda conditions are useless and bad in java.